---
import { Camera } from "@lucide/astro";
---

<article class="card mt-6 mb-6" ot-animate="hover:fade-up">
  <header>
    <h3>Card Title</h3>
    <p>Card description goes here.</p>
  </header>
  <p>This is the card content. It can contain any HTML.</p>
  <footer class="hstack">
    <button class="outline">Cancel</button>
    <button><Camera />Save</button>
  </footer>
</article>

<style></style>
