---
// import astroLogo from '../assets/astro.svg';
import ServerStatus from "../components/ServerStatus.vue";
---

<div id="container">
  <h1>Hello World</h1>
  <p>This paragraph is styled automatically.</p>
  <button>Click me</button>
  <form>
    <label data-field>
      Name
      <input type="text" placeholder="Enter your name" />
    </label>
  </form>

  <p class="pt-6 text-neutral-content">
    Learning JavaScript or need some practice? Join the waitlist for my
    interactive code kata platform 🔥
  </p>
  <p class="pt-4 text-neutral-content">Estimated Launch: 2026</p>

  <fieldset class="group">
    <input type="email" placeholder="Search" />
    <button>subscribe</button>
  </fieldset>

  <ServerStatus client:load />
</div>

<style></style>
